body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/login-background.jpg');
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 50px); /* Adjust the height based on the nav height */
    padding-top: 50px; /* Add padding to the top to accommodate the nav */
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2em;
    max-width: 80%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.4);
    height: 50px; /* Add a fixed height to the nav */
    z-index: 1000; /* Ensure the nav stays on top */
}

.play_button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px #999;
    cursor: pointer;
    transition: all 0.2s;
}

.play_button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#online-play_button {
    background-color: #4caf50; /* Green */
}

#online-play_button:hover {
    background-color: #3d8b40; /* Dark Green */
}

#vs-bot-play_button,
#local-play_button {
    background-color: #f44336; /* Red */
}

#vs-bot-play_button:hover,
#local-play_button:hover {
    background-color: #d32f2f; /* Dark Red */
}
