/* styles/home.css */

/* Stylisation spécifique de la page d'accueil */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/login-background.jpg');
    background-size: cover;
    color: #ffffff;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 3em auto;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    width: 100%;
    background-color: #9994;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*!* Paragraphe avec une ombre portée pour améliorer la lisibilité sur l'arrière-plan *!*/
/*p {*/
/*    text-shadow: 1px 1px 2px black;*/
/*}*/

/* Amélioration des boutons pour qu'ils ressemblent plus à des éléments d'un jeu vidéo */
.play_button {
    font-weight: bold;
    box-shadow: 0 5px #999;
    cursor: pointer;
    transition: all 0.2s;
}

.play_button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

/* Styles spécifiques pour les boutons de jeu */
#online-play_button {
    background-color: #4caf50; /* Vert */
}

#online-play_button:hover {
    background-color: #3d8b40; /* Vert foncé */
}

#vs-bot-play_button,
#local-play_button {
    background-color: #f44336; /* Rouge */
}

#vs-bot-play_button:hover,
#local-play_button:hover {
    background-color: #d32f2f; /* Rouge foncé */
}
