@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../resources/font/OptimusPrinceps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OptimusPrinceps', Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/background.jpg');
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.back-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../resources/ui/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow-y: overlay;
}

ol {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow-y: overlay;
}

.leaderboard {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.leaderboard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 730px), (orientation: landscape) and (max-device-height: 480px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        background-position: center;
    }

    .container {
        width: 100%;
        max-height: calc(100vh - 70px);
        padding: 1rem;
        margin: 0;
        box-sizing: border-box;
        overflow-y: auto;
        background: transparent;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 1rem;
    }

    .profile img {
        width: 50%;
        max-width: 120px;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .back-button {
        display: none;
    }

    chat-global {
        display: none;
    }
}
