<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SNK-ridor</name>
    <description>Based on Quorridor Board Game with SNK theme</description>
    <author email="dev@cordova.apache.org" href="https://snk.ps8.academy/">
        SNK-ridor Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- android version -->
    <preference name="android-targetSdkVersion" value="33" />

    <!-- apple version -->
    <preference name="deployment-target" value="12.0" />

    <!-- Préférences pour le splash screen -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" /> <!-- Durée d'affichage en millisecondes -->

    <platform name="android">

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo_splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />

        <icon src="www/img/logo_home.png"/>

    </platform>

    <platform name="ios">

        <preference name="IOSWindowSplashScreenAnimatedIcon" value="www/img/logo_splash.png" />
        <preference name="IOSWindowSplashScreenBackground" value="#000000" />

        <icon src="www/img/logo_home.png"/>
    </platform>

</widget>
